.main-body{
    padding-left: 185px;
    padding-right: 430px;
    font-family: arial, sans-serif;
}

b{
    font-weight: bold;
}

.actual-link b{
    font-weight: normal;
    color: black;
}

.result-numbers{
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;
    padding-bottom: 20px;
}

.featured-snippets-box{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 7px;
    width: 645px;
    height: 182px;
}

.text-preview{
    font-size: 14px;
    color: rgb(95, 99, 104);
    line-height: 15pt;
    padding: 10px 45px 26px 0px;
}

.featured-snippets .text-preview{
    font-size: 16px;
    color: black;
    padding: 20px 15px 15px 15px;
}

.actual-link{
    font-size: 14px;
    color: rgb(112, 117, 122);
    padding: 3px 15px 8px 0px;
}

.featured-snippets .actual-link{
    padding: 3px 15px 8px 15px;
}

.search-res-title{
    font-size: 20px;
    text-decoration: none;
    padding: 10px 15px 0px 0px;
    color: rgb(26, 13, 171)
}

.featured-snippets .search-res-title{
    padding: 10px 15px 15px 15px;
}

.featured-snippets .snippets-description{
    float: right;
    padding-top: 5px;
}

.featured-snippets .snippets-description a{
    color: rgb(112, 117, 122);
    font-size: 12px;
    text-decoration: none;
    padding: 5px 5px 5px 5px;
}

.featured-snippets .snippet-img{
    width: 5.2%;
    height: auto;
    padding-left: 10px;
    padding-right: 0px;
}

.results-part-one{
    padding-top: 62px;
}

.videos{
    width: 665px;
    padding-bottom: 35px;
}

.videos-title{
    font-size: 20px;
    padding-top: 8px;
    padding-bottom: 15px;
    color: rgb(34, 34, 34);
}

.video-boxes{
    display:flex;
    width: 62%;
    justify-content: space-between;
}

.video-pv{
    width: 200px;
    height: 300px;
    border: 1px solid rgb(218, 218, 218);
    border-radius: 7px;
}

.video-title{
    font-size: 16px;
    line-height: 15pt;
    color: rgb(26, 13, 171);
    padding-right: 12px;
    padding-left: 12px;
    padding-top: 15px;
    padding-bottom: 50px;
}

.video-image{
    width: 100%;
    height: auto;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
}

.channel, .video-source{
    color: rgb(128, 128, 128);
    font-size: 14px;
    padding-left: 12px;
    padding-top: 8px;
}

.video-source b{
    font-weight: normal;
    color: rgb(32, 33, 36);
}

.people-also-ask{
    border: 1px solid rgb(218, 218, 218);
    border-radius: 7px;
    width: 645px;
    height: 175px;
    margin-bottom: 40px;
}

.paa-title, .question{
    padding-left: 12px;
    padding-top: 13px;
    padding-bottom: 13px;
}

.question{
    border-top: 1px solid rgb(218, 218, 218);
}

.paa-title{
    font-size: 20px;
    color: rgb(34, 34, 34);
}

#searches-related{
    font-size: 20px;
    padding-bottom: 20px;
}

.rs-element a{
    vertical-align: middle;
    color: rgb(26, 13, 171);
    font-weight: bold;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
}

.rs-element b{
    font-weight: normal;
}

.rs-element{
    clear: left;
    padding-bottom: 15px;
}

.rs-element img{
    width: 3%;
    height: auto;
    float: left;
    padding-right: 13px;
}

.following-pages-box{
    width: 50%;
    text-align: center;
    padding-left: 150px;
}

.following-pages-box img{
    width: 95%;
}

.next-numbers{
    padding-left: 13%;
    float: left;
}

.next-numbers a, .next-button a{
    color: rgb(66, 133, 244);
    text-decoration: none;
    font-size: 14px;
    padding-right: 7.5px;
}

.next-button{
    float: right;
}

#first-page{
    color: rgb(34, 34, 34);
}

.bottom-bar{
    position: relative;
    top: 3em;
    background-color: #f2f2f2;
    border-top: 0.75px solid rgb(218, 218, 218);
}

.bottom-elements{
    padding: 12px 10px 15px 30px;
    color: #5F6368;
    font-family: arial, sans-serif;
    font-size: 14px;
}

.bottom-elements a{
    text-decoration: none;
    padding-right:25px;
    color: #5F6368;
}

.bottom-elements a:hover{
    color: #333;
}

.bottom-bar{
    float: left;
    width: 200%;
}

.bottom-links{
    padding-left: 155px;
    border-top: 0.75px solid rgb(218, 218, 218);
}

.country{
    font-size: 15px;
    padding-left: 185px;
    color: rgba(0,0,0,.54);
}

.left-options, .right-options{
    display: flex;
}

.logo-container{
    width: 175px;
}

.logo-container img{
    width: 50%;
    padding: 25px;
}

.top-section{
    display: flex;
}

#search-bar{
    background-image: url('images/sbbg.png');
    background-position: 97% 50%;
    margin-left: 0px;
    margin-top: 20px;
    background-repeat: no-repeat;
    background-size: 65px;
    border-radius: 25px;
    border: 0.5px solid rgb(202, 202, 202);
    font-size: 30px;
    width: 655px;
    height: 43px;
}

.left-options img{
    width: 16px;
}

.options a{
    text-decoration: none;
    color: #5f6368;
    font-size: 13px;
    padding-right: 15px;
    font-family: arial, sans-serif;
}

.options{
    padding-left: 175px;
    width: 100%;
    border-bottom: 0.5px solid rgb(202, 202, 202);
    margin-bottom: 13px;
    margin-top: 15px;
    display: flex;
}

#img-and-name-all{
    border-bottom: 3px solid rgb(26, 115, 232);
    margin-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.right-options{
    padding-left: 120px;
}

#more-img{
    width: 10px;
}
